*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Nunito', sans-serif;
    background:url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

nav{
    height: 50px;
    width: 100%;
    padding: 20px 0;
}
.container{
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0px 6px;
}
nav ul li a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}
nav ul li a:hover, a.active{
    background-color: #3352F2;
    border-radius: 5px;
}
.main-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
}
.booking-form{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 5px;
    float: left;
}
label{
    font-size: 20px;
    font-weight: 700;
}
.booking-form h3{
    margin: 10px 0px;
    font-size: 30px;
    color: #0B1933;
}
.booking-form .input-group{
    margin: 10px 0;
}
.f-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inp-width{
    min-width: 300px;
}
.plus-minus-btn{
    color: #3352F2;
    font-size: 30px;
    padding: 2px;
    margin-top: 10px;
    word-spacing: 20px;
}
.booking-form  .calculations{
    margin: 10px 0;
}
.booking-form  .calculations p{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}
.booking-form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
}
.booking-form .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.booking-content{
    color: #fff;
    width: 80%;
}
.booking-content h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    margin-bottom: 25px;
}
.btn-quantity{
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}
.btn-quantity .increase{
    color: #0a3d62;
}
.btn-quantity .decrease{
    color: #3c6382;
}

.btn-style{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color:  #3352F2;
}
.amount{
    display: flex;
    justify-content: space-between;
    background: rgba(218, 245, 202, 0.679);
    padding: 0px 10px;
    border-radius: 5px;

}
.amount h4{
    font-size: 22px;
}
/* Extra section */
#booked{
    background: #fff;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    margin: 550px 450px;
    box-shadow: 5px 5px 10px gray;
    display: none;
}
.booking-classes{
    background-color: rgba(192, 206, 247, 0.638);
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 10px 10px gray;
}
.booking-classes h3{
    font-size: 25px;
}
.booking-classes p{
    font-size: 20px;
}
.booking-classes span{
    font-weight: bold;
    color: blueviolet;
    font-size: 22px;
}
.total-amount{
    padding: 8px 20px;
    background-color: rgba(194, 247, 211, 0.638);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 10px gray;
}
.total-amount span{
    font-size: 21px;
    color: #006c85;
}